.body {
max width: 550;
}

h1.title {
  color: black;
  font-size: 45px;
  font-style: italic;
  font-weight: 200;
  letter-spacing: 9px;
  margin-bottom: 0;
  text-align: right;
}

span.title-app {
  letter-spacing: 2px;
  font-style: normal;
  font-weight: 400;
}

div.body {
}

form.search-form {
  display: inline;
}

.city-box {
  border: solid 1px black;
  border-radius: 6px;
  font-weight: 300;
  padding: 5px;
}

button.search-button {
  background-color: #e85b48;
  border: solid 2px #e85b48;
  border-radius: 6px;
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  padding: 4px 8px;
}

button.search-button:hover {
  background-color: #fff;
  color: #e85b48;
  transition: all 150ms ease-in-out;
}

button.location-pin {
  background: none;
  border: none;
  color: black;
  font-size: 22px;
}

button.location-pin:hover {
  color: #e85b48;
  transition: all 150ms ease-in;
}

div.current-temp {
  color: black;
  display: inline;
  font-size: 130px;
  font-weight: 400;
}

span.current-temp-units {
  color: black;
  font-size: 46px;
  font-weight: 600;
  position: relative;
  top: -58px;
}

h2.city {
  color: black;
  font-size: 33px;
  font-weight: 300;
  text-align: left;
}

h5.date-time {
  color: black;
  font-size: 21px;
  font-weight: 300;
  text-align: left;
}

ul {
  color: black;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8rem;
  list-style-type: none;
  text-align: right;
}

div.forecast {
  background-color: darkcyan;
  color: black;
  font-weight: 300;
  padding: 0;
  text-align: center;
}

.city-col {
}

.weather-app {
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  max-width: 550px;
}

.weather-forecast-date {
  font-weight: 500;
}

.main-icon {
  position: relative;
  bottom: -40px;
  left: -20px;
}
